.gattini {
    display: flex;
    /*attiva il sistema flexbox e mi permette di disporre i figli secondo una griglia definita*/
    /* NOTA: la proprietà display serve anche per cambiare il comportamento di un elemento "inline" o "block"*/
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none; /*elimino i pallini dalla lista */

    display: flex; /*faccio affiancare le voci di menu */

    gap:1.5rem; /*crea spazio tra gli elementi posizionati con FLEXBOX /*
    /*NOTA: diverso da margin, perché esclude il primo e l'ultimo elemento.*/

    
}